.input {
  background-color:#fff;
  border-radius: 20px;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  width: 60%;
  height: 33%;
  margin-left: 22%;
  margin-top: 5%;
}

input {
    border: 0;
    outline: 0;
    width: 60%;
    margin-left: 0px;
    position:relative;
    float: left;
    left: 3%;
}

.label {
    text-align: left;
    margin-left: 3%;
    padding:1%;
}
