.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  }
  
  .card-body {
    padding: 2rem 0 !important;
    background-color: #011a30;
    height: auto;
    min-height: 363px;
  }

  .cancelada{
    width: 20px;
    height: 20px;
    margin-left: 49%;
    background-color: #f53333;
    border-radius: 10px;
  }

  .pendiente{
    width: 20px;
    height: 20px;
    margin-left: 49%;
    background-color: #f5c133;
    border-radius: 10px;
  }

  .aceptada{
    width: 20px;
    height: 20px;
    margin-left: 49%;
    background-color: #5af574;
    border-radius: 10px;
  }
  .card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  
  .overflow {
    overflow: hidden;
  }
  
  .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  
  .card-img-top:hover {
    transform: scale(1.8);
  }
.card{
  margin-top : 5vh;
}