.filter_wrapper {
    position: relative;
    display: inline-block;
    z-index: 50;
}
.filter_button {
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #408aeb;
    cursor: pointer;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    z-index: 50;
}
   .filter_button:hover {
    background-color: #092b58;
   }
   .filter_button:focus {
    outline: 1px dashed;
    outline: 1px auto -webkit-focus-ring-color;
    z-index: 199;
   }